body {
  font-family: Cambria, Cochin, sans-serif;
}
header {
  background-color: rgb(226, 226, 205);
  text-align: center;
  padding: 20px;
}
h1 {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  margin-top: auto;
  letter-spacing: 5px;
  font-size: 25px;
}
h2 {
  background-color: rgb(226, 226, 205);
  padding: 5px;
  margin-top: 50px;
  font-size: 20px;
  letter-spacing: 5px;
}
footer {
  background-color: rgb(87, 69, 47);
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 20px;
}
.datos-personales ul {
  list-style-type: square;
}
.lista-formacion ul {
  list-style-type: none;
}
.lista-experiencia ul {
  list-style-type: none;
}
section {
  font-size: 20px;
}
header img {
  width: 150px;
  height: 150px;
}
.personales {
  font-style: italic;
  font-weight: bold;
}
